@import url(https://fonts.bunny.net/css?family=aclonica:400|economica:400,700);
:root {
  --clr-primary: rgb(220, 38, 38);
}
body {
  background-color: #91a1b0;
  font-family: "Aclonica", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--clr-primary);
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://images.pexels.com/photos/1303098/pexels-photo-1303098.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

h1 {
  font-size: clamp(1.2rem, 4.5vw - 0.5rem, 3rem);
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
}
.countdown {
  width: min(100% - 2rem, 48rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  color: #0a3d4c;
  font-size: clamp(2rem, 4.5vw - 0.5rem, 3rem);
}
.countdown > div:last-child {
  grid-column-end: 4;
}

@media (min-width: 500px) {
  .countdown {
    grid-template-columns: repeat(10, 1fr);
  }
  .countdown > div:last-child {
    grid-column-end: auto;
  }
}
.countdown > div {
  grid-column: span 2;

  background-color: rgba(5 46 22 / .75);
  color: white;
  padding: 1rem 1rem 3rem;
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  transition: all 0.2s;
}
.countdown > div > span {
  display: grid;
  place-content: center;
  font-weight: bold;
  transition: translate 150ms ease, scale 150ms ease;
}
.countdown > div::after {
  content: attr(data-desc);
  font-size: 0.8rem;
  position: absolute;
  text-transform: capitalize;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  @starting-style {
    scale: 0;
    opacity: 0;
    translate: 0 100px;
  }
  transition: 300ms ease-in-out var(--d);
}
